html {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: rgb(196, 193, 193);
}

h1 {
  color: blue;
  text-align: center;
}

p {
  padding: 50px;
  font-size: large;
}

img {
  margin: 0 50px 0 50px;
}
